hr{
    padding: 0 0 5px 0;
    margin: 0;
    border: 1px solid #a5a5a5;
    border-width: 1px 0 0 0;
}

/* Slider options */
h2{
    margin: 0;
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background-image: url("/img/app/2.png");
    text-align: center;
    height: 300px !important;
    /*-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:8px;*/
}
.carousel{
    margin-top: 20px;
}


/* Menu options */

@media (min-width:900px) {
    .dropdown:hover .dropdown-menu {
        display: block;

    }
    .dropdown .dropdown-menu{
        display: none;
    }

}

/* цвет фона основного меню*/
.navbar-collapse{
    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
}
/* цвет фона выпадающего меню*/
.dropdown-menu{
    border-width: 0 0 0 0;
    margin-top: 0;
    background:#F4F4F4;
    background: -moz-linear-gradient(top, #EEEEEE, #9e9e9e);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#9e9e9e));
}


.pad{
    padding: 0;
    margin: 0;
}

ul.nav .navbar-nav{
    color:white;
}

.navbar-default{
    background: #014464;
    background: -moz-linear-gradient(top, #0272a7, #013953);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
    padding: 0;
    border-width: 0 0 0 0;
    border-radius: 0;
}

.dropdown-toggle:hover{
    color: #000080;
}

.dropdown-menu {
    min-width: 220px;
}
.dropdown-menu.columns-2{
    min-width: 300px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}

.dropdown-menu.columns-4 {
    min-width: 700px;
}


.dropdown-menu.columns-6 {
    min-width: 990px;
}

.dropdown-menu li a
{
    padding: 7px 3px 7px 3px;
    font-weight: 300;
    margin-left: 5px;
    text-decoration: none;
}

li.dropdown ul.dropdown-menu.multi-column.columns-2 div li
{
    padding: 7px 3px 7px 3px;
    font-weight: 300;
    margin-left: 5px;
    text-decoration: none;
}




.multi-column-dropdown {
    list-style: none;
    padding: 0;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: white;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    /*color: yellow;*/

}

.dropdown-menu li a:hover{
    background-color:inherit;
    /*color:yellow;*/
    border: 1px solid #013953;
    border-width: 0 0 0 2px;
}

.navbar-nav > li > .dropdown-menu{
    margin-top: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #777;
    padding-top: 15px;
    padding-bottom: 19px;
    margin-bottom: -4px;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}


@media (max-width: 480px) {
    .content {
        width: 90%;
        margin: 50px auto;
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .dropdown-menu.columns-2 {
        margin-left: -100px;
    }

    .dropdown-menu.columns-3 {
        margin-left: -300px;
    }

    .dropdown-menu.columns-3 {
        margin-left: -500px;
    }
}

ul.nav.navbar-nav{
    color:white;
}

.navbar-default .navbar-nav>li>a{
    color:white;
}

.navbar-default .navbar-nav>li>a:hover{
    color:black;
}


/* Цвет пунктов меню */
ul.nav.navbar-nav li:hover ul li a{
    color:#0B0841;
    font-size: small;
}

ul>div>li>a.dropdown-toggle{
    font-size: small;
}


ul.nav.navbar-nav li:hover ul>div>li>a:hover{
    color: #3352ff;
}

ul.nav.navbar-nav li:hover ul>li>a:hover{
    color: #3352ff;
}

ul.dropdown-menu>li>a{
    color: blue;
}

li.dropdown:hover a.dropdown-toggle{
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
    color: black;

}




li.dropdown:hover{
    background: #F4F4F4;
    background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE));
}

.add{
    color: white;
    padding-top: 5px;
}

div.add>a>img{
    height: 40px;
    width: 40px;
}

div.add>a>img:hover{
    opacity: 0.5;
    height: 38px;
    width: 38px;
}
li>ul>li>h4{
    color: #2c4478;
    margin-left: 10px;
    /*text-align: center;*/
}

.my-header{
    color: #2c4478;
    padding-left: 7px;
    font-size: 0.95em;
    font-weight: bold;
    height: 50px;

}
li.dropdown>ul>li>ul>div>li>a{
    font-size: 0.85em;
}



/* Common options */

.myHeight2{
    margin-left: 10px;
}

.myHeight3{
    /*color: yellow;*/
}

.contacts{
    text-align: center;
    color: #0B0841;
    font-size: small;
}

h4{
    color: red;
}


.foot{
    background-color: #015b86;
    color: white;
    font-style: inherit;
}

.al-centre{
    text-align: center;
}

.lang{
    position: relative;
    top: auto;
    text-align: right;
}

.btn-lang-en{
    height: 35px;
    width: 55px;
    background-image: url("/img/flag-en.png");
}
.btn-lang-ru{
    height: 35px;
    width: 55px;
    background-image: url("/img/flag-ru.png");
}

.btn-lang-ua{
    height: 35px;
    width: 55px;
    background-image: url("/img/flag-ua.png");
}



