<div class="container">
    <div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <a [routerLink]="['']"><img src="/img/logo.png" alt="telecard"></a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="lang">
                    <button class="btn-lang-ua" (click)="toggleLanguage('ua')"></button>
                    <button class="btn-lang-en" (click)="toggleLanguage('en')"></button>
                    <button class="btn-lang-ru" (click)="toggleLanguage('ru')"></button>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <img src="/img/app/2.png" alt="" class="img-responsive">
            <!-- Slider вдруг понадобится -->
            <!--<div id="myCarousel" class="carousel slide" data-interval="10000" data-ride="carousel">-->
                <!--&lt;!&ndash; Индикаторы для карусели &ndash;&gt;-->
                <!--<ol class="carousel-indicators">-->
                    <!--&lt;!&ndash; Перейти к 0 слайду карусели с помощью соответствующего индекса data-slide-to="0" &ndash;&gt;-->
                    <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                    <!--&lt;!&ndash; Перейти к 1 слайду карусели с помощью соответствующего индекса data-slide-to="1" &ndash;&gt;-->
                    <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                    <!--&lt;!&ndash; Перейти к 2 слайду карусели с помощью соответствующего индекса data-slide-to="2" &ndash;&gt;-->
                    <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
                <!--</ol>-->
                <!--&lt;!&ndash; Слайды карусели &ndash;&gt;-->
                <!--<div class="carousel-inner">-->
                    <!--&lt;!&ndash; Слайды создаются с помощью контейнера с классом item, внутри которого помещается содержимое слайда &ndash;&gt;-->
                    <!--<div class="active item">-->
                        <!--&lt;!&ndash;<h2>Слайд №1</h2>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3>Заголовок 1 слайда</h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Текст (описание) 1 слайда...</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Слайд №2 &ndash;&gt;-->
                    <!--<div class="item">-->
                        <!--&lt;!&ndash;<h2>Slide 2</h2>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3>Second slide label</h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                    <!--&lt;!&ndash; Слайд №3 &ndash;&gt;-->
                    <!--<div class="item">-->
                        <!--&lt;!&ndash;<h2>Slide 3</h2>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="carousel-caption">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h3>Third slide label</h3>&ndash;&gt;-->
                            <!--&lt;!&ndash;<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; Навигация для карусели &ndash;&gt;-->
                <!--&lt;!&ndash; Кнопка, осуществляющая переход на предыдущий слайд с помощью атрибута data-slide="prev" &ndash;&gt;-->
                <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">-->
                    <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
                <!--</a>-->
                <!--&lt;!&ndash; Кнопка, осуществляющая переход на следующий слайд с помощью атрибута data-slide="next" &ndash;&gt;-->
                <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">-->
                    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default pad" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="#">Some Text</a>-->
                </div>
                <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-2">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a [routerLink]="['about/history']" class="dropdown-toggle">{{contentMain.About}}</a>
                            <ul class="dropdown-menu">
                                <li><a [routerLink]="['about/history']" class="myHeight2">{{submenuAbout.history}}</a></li>
                                <li><a [routerLink]="['about/tour']" class="myHeight2">{{submenuAbout.tour}}</a></li>
                                <li><a [routerLink]="['about/technology']" class="myHeight2">{{submenuAbout.technology}}</a></li>
                                <li><a [routerLink]="['about/cooperate']" class="myHeight2">{{submenuAbout.cooperate}}</a></li>
                                <li><a [routerLink]="['about/centre']" class="myHeight2">{{submenuAbout.centre}}</a></li>
                                <li><a [routerLink]="['about/contacts']" class="myHeight2">{{submenuAbout.contacts}}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/#div1" class="dropdown-toggle" id="prevent1">{{contentMain.Products}} </a>
                            <ul class="dropdown-menu multi-column columns-6 ">
                                <li>
                                    <ul class="multi-column-dropdown col-md-2 col-sm-2 col-xs-12">
                                        <li class="my-header" [innerHTML]="submenu.hf">{{submenu.hf}}</li>
                                        <hr>
                                        <div *ngFor="let item of items |async" >
                                            <li *ngIf="item.$key=='product-r1150-01' || item.$key=='product-r1150'  || item.$key=='product-r1150-02' || item.$key=='product-r1150-03' ">
                                                <a  [routerLink]="['product/'+item.$key]" >{{item.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="multi-column-dropdown col-md-2 col-sm-2 col-xs-12">
                                        <li class="my-header" [innerHTML]="submenu.vhf">{{submenu.vhf}}</li>
                                        <hr>
                                        <div *ngFor="let item of items |async" >
                                            <li *ngIf="item.$key=='product-r002' || item.$key=='product-r005' || item.$key=='product-r030'">
                                                <a  [routerLink]="['product/'+item.$key]" >{{item.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="multi-column-dropdown col-md-2 col-sm-2 col-xs-12">
                                        <li class="my-header" [innerHTML]="submenu.broadband">{{submenu.broadband}}</li>
                                        <hr>
                                        <div *ngFor="let item of items |async" >
                                            <li *ngIf="item.$key=='product-r450' || item.$key=='product-srsh' ">
                                                <a  [routerLink]="['product/'+item.$key]" >{{item.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="multi-column-dropdown col-md-2 col-sm-2 col-xs-12">
                                        <li class="my-header" [innerHTML]="submenu.wireCom">{{submenu.wireCom}}</li>
                                        <hr>
                                        <div *ngFor="let item of items |async" >
                                            <li *ngIf="item.$key=='product-kr351' || item.$key=='product-ta01' || item.$key=='product-cross-modules' || item.$key=='klemma' ">
                                                <a  [routerLink]="['product/'+item.$key]" >{{item.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="multi-column-dropdown col-md-2 col-sm-2 col-xs-12">
                                        <li class="my-header" [innerHTML]="submenu.lan">{{submenu.lan}}</li>
                                        <hr>
                                        <div *ngFor="let item of items |async" >
                                            <li *ngIf="item.$key=='product-muluak' || item.$key=='product-eth-switch' || item.$key=='product-voip'">
                                                <a  [routerLink]="['product/'+item.$key]" >{{item.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="multi-column-dropdown col-md-2 col-sm-2 col-xs-12">
                                        <li class="my-header" [innerHTML]="submenu.misc">{{submenu.misc}}</li>
                                        <hr>
                                        <div *ngFor="let item of items |async" >
                                            <li *ngIf="item.$key=='product-c1001-2' || item.$key=='product-czp11' || item.$key=='product-mast'  || item.$key=='product-shelter' ">
                                                <a  [routerLink]="['product/'+item.$key]" >{{item.name}}</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/#div2" class="dropdown-toggle" id="prevent2">{{contentMain.Projects}}</a>

                            <ul class="dropdown-menu multi-column columns-2 ">
                                <div *ngFor="let solution of solutions |async" >
                                    <li *ngIf="solution.$key=='solution-avsk' || solution.$key=='solution-kshm' || solution.$key=='solution-pss' || solution.$key=='solution-kas'
                                        || solution.$key=='solution-tk_commander'">
                                        <a [routerLink]="['solution/'+solution.$key]" class="myHeight3">{{solution.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </li>
                        <li  class="dropdown "><a [routerLink]="['news']">{{contentMain.News}}</a></li>
                        <li class="dropdown">
                            <a [routerLink]="['about/contacts']" class="dropdown-toggle">{{contentMain.Contacts}}</a>
                            <ul class="dropdown-menu">




                                <div class="contacts">
                                    <div [innerHTML]="appFooter.address">
                                        {{appFooter.address}}
                                    </div>
                                    <hr>
                                    <!--<h4>Почтовый адрес:</h4>-->
                                    <!--Пр-т. Маршала Жукова, 105<br>-->
                                    <!--65104, г. Одесса, Украина-->

                                    <div [innerHTML]="appFooter.departament">
                                        {{appFooter.departament}}
                                    </div>
                                    +38(048)711-60-98<br>
                                    sa@telecard.com.ua<br>
                                    depssp@telecard.com.ua
                                    <hr>

                                    <div [innerHTML]="appFooter.admin">
                                        {{appFooter.admin}}
                                    </div>
                                    +38(048)711-60-70<br>
                                    +38(048)711-15-15<br>
                                    office@telecard.com.ua
                                </div>
                            </ul>
                        </li>
                    </ul>
                    <div class="dropdown pull-right add">
                        <a href="http:\\twitter.com" target="_blank"><img src="\img\app\twitter.png" alt=""></a>
                        <a href="http:\\facebook.com" target="_blank"><img src="\img\app\facebook.png" alt=""></a>
                        <a href="http:\\linkedin.com" target="_blank"><img src="\img\app\linkedin.png" alt=""></a>
                    </div>
                </div>
            </nav>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="foot">
                <div class="row">
                    <div class="col-md-4 al-centre">
                        <div [innerHTML]="appFooter.address">
                            {{appFooter.address}}
                        </div>
                        <!--<h4>Почтовый адрес:</h4>-->
                        <!--Пр-т. Маршала Жукова, 105<br>-->
                        <!--65104, г. Одесса, Украина-->
                    </div>
                    <div class="col-md-4 al-centre" >

                        <div [innerHTML]="appFooter.departament">
                            {{appFooter.departament}}
                        </div>
                            +38(048)711-60-98<br>
                            sa@telecard.com.ua<br>
                            depssp@telecard.com.ua
                    </div>
                    <div class="col-md-4 al-centre">
                        <div [innerHTML]="appFooter.admin">
                        {{appFooter.admin}}
                        </div>
                        +38(048)711-60-70<br>
                        +38(048)711-15-15<br>
                        office@telecard.com.ua
                    </div>
                  </div>
            </div>
        </div>
    </div>
    </div>
</div>






