<h4>{{product.name}}</h4>

<div class="bs-docs-example">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#description" data-toggle="tab">{{submenu.description}}</a></li>
    <li class=""><a href="#features" data-toggle="tab">{{submenu.features}}</a></li>
    <li class=""><a href="#documentation" data-toggle="tab">{{submenu.documentation}}</a></li>
    <li class=""><a href="#complectation" data-toggle="tab">{{submenu.complectation}}</a></li>
    <li class="" *ngIf="application!=undefined"><a href="#application" data-toggle="tab">{{application.menuName}}</a></li>
  </ul>
</div>

  <div id="myTabContent" class="tab-content min-height">
    <div class="tab-pane fade active in" id="description">
      <img src="{{product.img}}" alt="{{product.name}}" class="img-responsive my-img" width ="300" height="300">

      <div [innerHTML]="product.description" class="al-justify">
        {{product.description}}
       </div>
    </div>

     <div class="tab-pane fade" id="features">
        <h4>{{table1.tablename}}</h4>
         <div class="table-responsive myTable1">
            <table class="table">
                <th></th>
                <tr *ngFor="let item of items1 | async">
                    <td [innerHTML]="item.td1" class="al-justify td1" >{{item.td1}}</td>
                    <td [innerHTML]="item.td2" class="al-justify td2">{{item.td2}}</td>
                </tr>
            </table>
         </div>
      </div>

      <div class="tab-pane fade" id="documentation">
        <h4>{{dwl.download}}</h4>
          <table>
              <tr>
                  <td>
                      <img src="/img/pdf.jpg" alt="" class="img-responsive my-img" width ="50" height="50">
                  </td>
                  <td>
                      <a href="{{product.dwlDescr}}" target="_blank" download="">{{dwl.dwlDescr}}</a>
                  </td>
              </tr>
              <tr *ngIf="product.dwlRe!=''">
                  <td>
                      <img src="/img/pdf.jpg" alt="" class="img-responsive my-img" width ="50" height="50">
                  </td>
                  <td>
                     <a href="{{product.dwlRe}}" target="_blank" download="">{{dwl.dwlRe}}</a>
                  </td>
              </tr>
          </table>
      </div>

      <div class="tab-pane fade" id="complectation">
              <div [innerHTML]="table2.order" *ngIf="table2.order">
                  {{table2.order}}
              </div>
              <div class="table-responsive" *ngIf="table2.order2">
                  <table [innerHTML]="table2.order2" class="myTable3">
                      {{table2.order2}}
                  </table>
              </div>



          <h5>{{table2.tablename}}</h5>
          <div class="table-responsive myTable1">
              <table class="table">
                  <th></th>
                  <tr *ngFor="let item of items2| async let i=index ">
                      <td [innerHTML]="item.td1" class="al-centre">{{item.td1}}</td>
                      <td [innerHTML]="item.td2" class="al-centre">{{item.td2}}</td>
                      <td [innerHTML]="item.td3" class="al-centre">{{item.td3}}</td>
                      <td *ngIf="i==0" [innerHTML]="item.td4" class="al-centre">{{item.td4}}</td>
                      <td *ngIf="i>0"><img *ngIf="item.td4!=''" src="{{item.td4}}" width ="100" height="100" class="al-centre"></td>
                  </tr>
                  <div [innerHTML]="table2.addInfo" *ngIf="table2.addInfo">
                      {{table2.addInfo}}
                  </div>
              </table>
          </div>

      </div>

      <div *ngIf="application!=undefined" class="tab-pane fade" id="application">
          <h1>{{application.text}}</h1>
      </div>

  </div>


